html,body{
    width: 100%;
    height: 100%;
    background-image: url(images/webbg.jpg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
  overflow: hidden;
  }
  .slogan, img{
    position:absolute;
    width: 20%;
    height: auto;
   left: 48%;
   top: 3.5%;
  }
 @font-face {
  font-family: modern;
  src: url(fonts/modern.ttf);
 }
 @font-face {
  font-family: ps;
  src: url(fonts/ps.ttf);
 }
 @font-face {
  font-family: xbox;
  src: url(fonts/x.ttf);
 }
 @font-face {
  font-family: switch;
  src: url(fonts/ns.ttf);
 }
 @font-face {
  font-family: price;
  src: url(fonts/price.ttf);
 }
 @font-face {
  font-family: christmas;
  src: url(fonts/christmas.ttf);
 }
 h1{
    font-family:modern;
   left: 40%;
   position: absolute;
   top: 1%;
   color: #84DCC6;
   font-size: 50px;
  }
  h1 a:hover{
    color: #64a595;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #351431;
    position: absolute;
    top: 13%;
    width: 50%;
    left:25%;
    border-radius: 25px;
    text-align: center;
    justify-content: space-between;
  }
  
  li {
    display:inline-block;
    
  }
  
  li a {
    display: block;
    color: #84DCC6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  li a:hover{
    background-color: #980B88;
  }
  p{
    position: absolute;
    left: 21.5%;
    top: 35%;
    font-size: 32px;
    color: #fff;
    text-align: center;
  }
  a {
    color: #84DCC6;
  }
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none;}
  .ps{
    float: left;
    font-family: ps;
    font-size: 120%;
  }
  .ps1{
    float: left;
    font-family: ps;
    font-size: 120%;
    background-color: #980B88;
  }
  
  .x{
    position:absolute;
   margin-left: 46%;
   font-family: xbox;
   font-size: 120%;
  }
  .x1{
    position:absolute;
   margin-left: 46%;
   font-family: xbox;
   font-size: 120%;
   background-color: #980B88;
  }
  .switch{
    float: right;
    font-family: switch;
    font-size: 120%;
  }
  .switch1{
    float: right;
    font-family: switch;
    font-size: 120%;
    background-color: #980B88;
  }
  h2{
    position: absolute;
    font-size: 50px;
    color: #84DCC6;
    left: 36.5%;
    top: 23%;
  }